[defaults]
inventory = ./inventory/
host_key_checking = False
log_path = ./logs/ansible.log
remote_user = ansi
ask_pass = True
deprecation_warnings = False
# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True

[privilege_escalation]
become = False
become_method = sudo
become_user = root
become_ask_pass = True

[galaxy]

